*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    color: #757575;
    background-color: #ececec;
    overflow: hidden;
}

main {
    height: 85vh;
    position: relative;
}

.loader-container {
    width: 100%;
    height: 85vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.wiki-image {
    max-width: 100px;
    width: 100%;
    animation: loading 2s ease-in-out infinite;
    -moz-animation: loading 2s ease-in-out infinite; /* Firefox */
    -webkit-animation: loading 2s ease-in-out infinite; /* Safari and Chrome */
}

.test-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.content-container {
    width: 67vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    width: 55vw;
    height: 100%;
    margin-left: 12vw;
}

.text-title {
    position: relative;
    display: inline-flex;
    margin-bottom: 0.4rem;
    padding-bottom: 0.6rem;
    color: #888888;
    font-size: 20px;
    text-decoration: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    animation: fadein 700ms;
    -moz-animation: fadein 700ms; /* Firefox */
    -webkit-animation: fadein 700ms; /* Safari and Chrome */
}

.text-title::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 5px;
    border-bottom: 3px solid #2b8eff73;
    border-radius: 2px;
    transform: translateX(-100%);
    transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.text-title:hover::after,
.text-title:focus::after {
    transform: translateX(0);
}

.text {
    height: 70vh;
    position: relative;
    overflow: hidden;
    border-radius: 17px;
    font-size: 45px;
    background-color: #fafafa;
    transition: 200ms ease-in-out;
    animation: fadein-bounce-up 700ms ease-in-out forwards;
    -moz-animation: fadein-bounce-up 700ms ease-in-out forwards; /* Firefox */
    -webkit-animation: fadein-bounce-up 700ms ease-in-out forwards; /* Safari and Chrome */
}

.text:focus {
    outline: none;
    box-shadow: 6px 6px 10px -1px #00000026;
    transition: 200ms ease-in-out;
}

.text-wrapper {
    margin: 0rem 7rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transition: 700ms;
}

.top-box,
.bottom-box {
    z-index: 1;
    width: 100%;
    height: 5rem;
    position: relative;
    background-color: #fafafa;
}

.bottom-box {
    bottom: 0px;
    left: 0px;
    position: absolute;
}

.progress-bar-container {
    width: calc(100% - 14rem);
    margin: 0rem 7rem;
    border-radius: 3px;
    background-color: #ececec;
}

.progress-bar {
    width: 0%;
    height: 3px;
    border-radius: 3px;
    background-color: #2b8eff73;
    transition: 700ms;
}

.pause-banner {
    z-index: 3;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #fafafa;
    background-color: #2b8effeb;
    pointer-events: none;
    transition: 200ms ease-in-out;
    animation: fadein 700ms;
    -moz-animation: fadein 700ms; /* Firefox */
    -webkit-animation: fadein 700ms; /* Safari and Chrome */
}

.pause-banner::before {
    content: "";
    margin-top: 48px;
    border-top: solid 10px #2b8effeb;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    position: absolute;
}

.pause-banner-bounce {
    animation: bounce 500ms ease-in-out 200ms infinite alternate-reverse;
    -moz-animation: bounce 500ms ease-in-out 200ms infinite alternate-reverse; /* Firefox */
    -webkit-animation: bounce 500ms ease-in-out 200ms infinite alternate-reverse; /* Safari and Chrome */
}

.stats-container {
    z-index: 2;
    width: 10vw;
    height: 70vh;
    margin-top: 49px;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: fadein-bounce-up 700ms ease-in-out forwards;
    -moz-animation: fadein-bounce-up 700ms ease-in-out forwards; /* Firefox */
    -webkit-animation: fadein-bounce-up 700ms ease-in-out forwards; /* Safari and Chrome */
}

.speed-stats,
.accuracy-stats,
.timer-container-outer,
.error-container {
    width: 130px;
    height: 90px;
    padding: 1.5rem;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #2b8eff73;
    background-color: #fafafa;
    border-radius: 17px;
    box-shadow: 6px 6px 10px -1px #00000026;
}

.stats-container h5 {
    font-size: 15px;
    font-weight: 500;
    color: #888888;
}

.timer-container-outer {
    position: relative;
    height: 130px;
    padding: 10px;
    border-radius: 50%;
    background-color: #ececec;
    box-shadow: 6px 6px 10px -1px #00000026, -6px -6px 10px -1px #fafafab3;
}

.timer-container-inner {
    width: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fafafa;
    box-shadow: inset 4px 4px 6px -1px #00000033,
        inset -4px -4px 6px -1px #fafafab3, -0.5px -0.5px 0px #fafafa,
        0.5px 0.5px 0px #0000000d, 0px 12px 10px -10px #0000000d;
}

.timer-circle {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 10px;
    stroke-dasharray: 377;
    transform: rotateZ(-90deg);
    transition: 350ms ease-in-out;
}

.error-container {
    width: 130px;
    height: 250px;
    font-size: 20px;
    text-align: left;
    word-break: break-word;
    color: #ff597d;
}

header {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav h2 {
    width: 55vw;
    margin-left: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    font-size: 30px;
    text-decoration: none;
    color: #2b8eff73;
}

.controls {
    width: 10vw;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.refresh-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background: none;
}

.refresh-btn svg {
    color: #2b8eff73;
    cursor: pointer;
    transform: rotate(90deg);
    transition: 200ms ease-in-out;
}

.refresh-btn svg:hover,
.refresh-btn svg:focus {
    color: #2b8effeb;
    transition: 200ms ease-in-out;
}

.search-form {
    width: 55%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.search-input {
    width: 100%;
    height: 50px;
    margin-right: 1rem;
    padding: 0.5rem;
    border: 3px solid #2b8eff73;
    border-radius: 5px;
    font-size: 20px;
    color: #2b8eff73;
    background-color: #fafafa;
    transition: 200ms ease-in-out;
}

.search-input:focus {
    box-shadow: 6px 6px 10px -1px #00000026;
    transition: 200ms ease-in-out;
}

.submit-btn,
.restart-btn {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #fafafa;
    background-color: #2b8eff73;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.submit-btn:hover,
.submit-btn:focus,
.restart-btn:hover,
.restart-btn:focus {
    background-color: #2b8effeb;
    transition: 200ms ease-in-out;
}

.search-input:disabled,
.submit-btn:disabled {
    cursor: not-allowed;
}

.word {
    margin-top: 2px;
    margin-bottom: 30px;
    display: flex;
}

.char {
    width: 22.5px;
    height: 48px;
}

.current-word {
    margin-top: 0px;
    border-top: 2px solid #dddddd;
    border-radius: 5px;
}

.current-char {
    border-bottom: 3px solid #2b8eff;
    border-radius: 2px;
}

.valid {
    outline: 1px solid #fafafa;
    color: #0e630e;
    background-color: #e8fbd5;
    border-radius: 4px;
}

.typo {
    outline: 1px solid #fafafa;
    color: #a10707;
    background-color: #fbd5e4;
    border-radius: 4px;
    transition: 350ms ease-out;
    transition-property: background-color;
}

.typo-visible {
    color: #fafafa;
    background-color: #ff597d;
}

.results-container {
    z-index: 5;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: #00000033;
    animation: fadein 700ms;
    -moz-animation: fadein 700ms; /* Firefox */
    -webkit-animation: fadein 700ms; /* Safari and Chrome */
}

.results-popup {
    width: 30vw;
    height: 50vh;
    margin-top: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: #2b8eff73;
    background-color: #fafafa;
    border-radius: 17px;
    animation: fadein-bounce 700ms ease-in-out forwards;
    -moz-animation: fadein-bounce 700ms ease-in-out forwards; /* Firefox */
    -webkit-animation: fadein-bounce 700ms ease-in-out forwards; /* Safari and Chrome */
}

.results-popup h2 {
    font-size: 35px;
    font-weight: 600;
    color: #2b8effeb;
}

.results-popup h5 {
    font-size: 25px;
    font-weight: 500;
    color: #888888;
}

.blur {
    filter: blur(3px);
}

/* ANIMATIONS */

@keyframes loading {
    0%,
    100% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1);
    }
}
@-moz-keyframes loading {
    0%,
    100% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1);
    }
}
@-webkit-keyframes loading {
    0%,
    100% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce {
    from {
        transform: translateY(-20%);
    }
    to {
        transform: translateY(0%);
    }
}
@-moz-keyframes bounce {
    /* Firefox */
    from {
        transform: translateY(-20%);
    }
    to {
        transform: translateY(0%);
    }
}
@-webkit-keyframes bounce {
    /* Safari and Chrome */
    from {
        transform: translateY(-20%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes fadein-bounce {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-moz-keyframes fadein-bounce {
    /* Firefox */
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes fadein-bounce {
    /* Safari and Chrome */
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadein-bounce-up {
    from {
        opacity: 0;
        transform: translateY(15%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-moz-keyframes fadein-bounce-up {
    /* Firefox */
    from {
        opacity: 0;
        transform: translateY(15%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes fadein-bounce-up {
    /* Safari and Chrome */
    from {
        opacity: 0;
        transform: translateY(15%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media screen and (max-width: 1550px) {
    .content-container {
        width: 65vw;
    }

    .text-container {
        width: 65vw;
        margin-left: 0;
    }

    nav h2 {
        width: 65vw;
        margin-left: 0;
    }

    .search-form {
        width: 65%;
        margin-right: 12vw;
    }

    .results-popup {
        width: 45vw;
        margin-right: 12vw;
    }
}
