@use "../util" as *;

.header {
    @include flexBetween;
    flex-direction: column;
    height: 16rem;
    padding: 0 60px;
    transition: var(--transition-fast);
    position: relative;

    @include breakpoint(medium) {
        padding: 0 30px;
    }

    @include breakpoint(small) {
        padding: 0 15px;
    }

    &__inner-top {
        @include flexBetween;
        flex-grow: 1;
        @include layout;

        @include breakpoint(small) {
            justify-content: space-evenly;
            flex-direction: column;
        }
    }

    &__inner-bottom {
        @include flexCenter;
        @include layout;
    }
}
