@use "../util" as *;

#main {
    height: calc(100% - 16rem);
    transition: var(--transition-fast);
    @include paddingBreakpointsBody;

    .test-container {
        @include flexCenter;
        @include layout;
        height: 100%;
    }
}
