@use "../util" as *;

.controls {
    @include flexBetween;
    gap: 20px;

    &__restart-btn {
        @include flexCenter;
        width: 5.4rem;
        height: 4rem;
        @include border;

        &:focus {
            outline: none;
        }

        &__icon {
            stroke: var(--base-blue);
            transition: var(--transition-fast);
        }

        &:active &__icon {
            transform: rotate(-35deg);
        }
    }
}
