@use "../util" as *;

.nav {
    &__title {
        text-align: center;
        color: transparent;
        background-image: linear-gradient(
            to right,
            var(--light-blue),
            var(--base-blue)
        );
        background-clip: text;

        @include breakpoint(large) {
            font-size: var(--fs-md);
        }
    }
}
