@use "../util" as *;

.pause-banner {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-xs);
    line-height: normal;
    text-align: center;
    width: 15rem;
    height: 4.8rem;
    color: var(--test-bg);
    background-color: var(--banner-transparent-blue);
    border-radius: var(--border-radius);
    pointer-events: none;
    transition: left var(--easing-position), top var(--easing-position),
        border-bottom-left-radius var(--easing-position),
        color var(--easing-color);
    animation: fadein var(--easing-slow);
    z-index: 10;

    &::before {
        content: "";
        position: absolute;
        top: 98%;
        left: 50%;
        transform: translateX(-50%);
        border-top: solid 10px var(--banner-transparent-blue);
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
        transition: left var(--easing-position),
            transform var(--easing-position),
            border-left-width var(--easing-position);
    }
}

.pause-banner.offset {
    border-bottom-left-radius: 0;

    &::before {
        left: 0;
        transform: translateX(0%);
        border-left-width: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pause-banner.bounce {
    animation: bounce 0.5s ease-in-out 200ms infinite alternate-reverse;
}

@keyframes bounce {
    from {
        transform: translateY(-20%);
    }
    to {
        transform: translateY(0%);
    }
}
