.progress-bar {
    width: 100%;
    background-color: var(--body-bg);
    border-radius: var(--border-radius);
    transition: background-color var(--easing-color);

    &__bar {
        width: 0%;
        height: 3px;
        background-color: var(--accent-blue);
        border-radius: var(--border-radius);
        transition: width var(--easing-slow),
            background-color var(--easing-color);
    }
}
