@use "../util" as *;

.text-wrapper {
    display: none;
    flex-grow: 1;
    align-self: stretch;
    transition: padding var(--easing-position);
    overflow: hidden;
    @include paddingBreakpointsTest;

    &:focus {
        outline: none;
    }

    &__text {
        font-family: var(--font-inconsolata);
        font-size: var(--fs-text-default);
        font-weight: 400;
        line-height: normal;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        color: var(--text-fg);
        transition: top var(--easing-slow);
    }
}
