@use "../util" as *;

.theme-toggle {
    @include flexBetween;
    position: relative;
    border: none;

    label {
        @include flexCenter;
        position: absolute;
        cursor: pointer;

        &[for="dark"] {
            left: 0.3rem;
        }

        &[for="light"] {
            right: 0.3rem;
        }

        &:hover .theme-toggle__icon {
            stroke: var(--toggle-base-yellow);
            fill: var(--toggle-base-yellow);
        }
    }

    &__icon {
        width: 2.4rem;
        height: 2.4rem;
        stroke: var(--toggle-dark-yellow);
        fill: var(--test-bg);
        transition: var(--transition-svg);
        z-index: 10;
    }

    &__wrapper {
        @include flexBetween;
        position: relative;
        width: 6rem;
        height: 3rem;
        padding: 0.2rem;
        background-color: var(--test-bg);
        border-radius: var(--border-radius);
        transition: var(--transition-colors);
    }

    input[type="radio"] {
        opacity: 0;
        width: 2.4rem;
        height: 2.4rem;
        margin: 0.1rem;

        &:focus ~ .theme-toggle__button {
            scale: 0.925;
        }
    }

    &__button {
        position: absolute;
        left: 0.2rem;
        width: 2.6rem;
        height: 2.6rem;
        background-color: var(--base-blue);
        border-radius: 50%;
        transition: left var(--easing-color), scale var(--easing-color-fast);
        z-index: 20;
    }

    #light:checked ~ .theme-toggle__button {
        left: calc(100% - 2.8rem);
    }
}
