*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-sora);
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 1.6;
    height: 100%;
    color: var(--body-fg);
    background-color: var(--body-bg);
    transition: var(--transition-colors);
    overflow: hidden;
}

button,
input[type="radio"] {
    cursor: pointer;
}
