a,
a:visited,
a:active {
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    font-size: var(--fs-xs);
    font-weight: 600;
    line-height: 1;
}

h1 {
    font-size: var(--fs-lg);
    font-weight: 400;
}

h2 {
    font-size: var(--fs-sm);
    font-weight: 400;
}

h3 {
    font-size: var(--fs-md);
    font-weight: 600;
    color: var(--base-blue);
}

h4 {
    font-size: var(--fs-sm);
}

h5 {
    font-size: var(--fs-xs);
}

h4,
h5 {
    font-weight: 500;
    color: var(--accent-blue);
}

sup {
    font-size: var(--fs-xs);
}

.word {
    display: flex;
    margin-bottom: 30px;
    border-top: 2px solid transparent;
    border-radius: var(--border-radius-word);
}

.current-word {
    border-top-color: var(--current-word-border);
}

.char {
    width: 22.5px;
    height: 51px;
    border-radius: var(--border-radius-char);
}

.current-char {
    border-radius: var(--border-radius-char-current);
    border-bottom: 3px solid var(--base-blue);
}

.valid {
    color: var(--valid-fg);
    background-color: var(--valid-bg);
    outline: 1px solid var(--test-bg);
}

.typo {
    color: var(--typo-fg);
    background-color: var(--typo-bg);
    outline: 1px solid var(--test-bg);
    transition: var(--transition-typo);
}

.typo-visible {
    color: var(--typo-visible-fg);
    background-color: var(--typo-visible-bg);
}
