:root {
    --dark-gray-fg-char: #757575;
    --light-gray-bg-body: #ececec;
    --base-gray: #888888;
    --light-gray: #dddddd;
    --base-white: rgb(252, 252, 252);
    --base-blue: #4099ff;
    --light-blue: #8ac1ff;
    --light-gray-blue: #ddeeff;
    --light-gray-blue-shadow: rgb(80, 95, 110);
    --transparent-blue-banner: rgba(40, 140, 255, 0.8);
    --transparent-blue-overlay: rgba(0, 28, 58, 0.5);
    --dark-green-fg-valid: #0e630e;
    --light-green-bg-valid: #e8fbd5;
    --dark-red-fg-typo: #a10707;
    --light-pink-bg-typo: #fbd5e4;
    --base-white-fg-typo-visible: rgb(252, 252, 252);
    --dark-pink-bg-typo-visible: #ff597d;
    --dark-yellow: #e0cd5c;
    --base-yellow: #ffef0b;
    --base-red: #a10707;

    --font-inconsolata: "Inconsolata", monospace;
    --font-museoModerno: "MuseoModerno", cursive;
    --font-sora: "Sora", sans-serif;

    --fs-xs: 1.5rem;
    --fs-sm: 2rem;
    --fs-md: 2.5rem;
    --fs-lg: 3rem;
    --fs-xl: 3.5rem;
    --fs-xxl: 4.5rem;
    --fs-text-default: 4.5rem;

    --border-radius: 24px;
    --border-radius-word: 5px;
    --border-radius-char: 4px;
    --border-radius-char-current: 2px;

    --transition-base: all 0.35s ease-in-out;
    --transition-slow: all 0.7s ease;
    --transition-fast: all 0.2s cubic-bezier(0.65, 0.05, 0.35, 1);
    --transition-typo: background-color 0.35s ease-out;
}
