:root {
    --font-inconsolata: "Inconsolata", monospace;
    --font-museoModerno: "MuseoModerno", cursive;
    --font-sora: "Sora", sans-serif;

    --fs-xs: 1.5rem;
    --fs-sm: 2rem;
    --fs-md: 2.5rem;
    --fs-lg: 3rem;
    --fs-xl: 3.5rem;
    --fs-xxl: 4.5rem;
    --fs-text-default: 4.5rem;

    --border-radius: 24px;
    --border-radius-word: 5px;
    --border-radius-char: 4px;
    --border-radius-char-current: 2px;

    --easing-slow: 0.7s ease;
    --easing-color: 0.35s cubic-bezier(0.8, 0.3, 0.5, 1);
    --easing-color-fast: 0.17s cubic-bezier(0.8, 0.3, 0.5, 1);
    --easing-color-slow: 2s cubic-bezier(0.8, 0.3, 0.5, 1);
    --easing-position: 0.2s cubic-bezier(0.65, 0.05, 0.35, 1);
    --transition-colors: color var(--easing-color),
        background-color var(--easing-color);
    --transition-svg: stroke var(--easing-color), fill var(--easing-color),
        stop-color var(--easing-color);
    --transition-typo: background-color 0.35s ease-out;

    //BASE COLORS
    --base-blue: #288cff;
    --base-pink: #fd3c86;
    --banner-transparent-blue: rgba(40, 140, 255, 0.8);
    --toggle-base-yellow: #ffef0b;
    --toggle-dark-yellow: #ffd900;

    //LIGHT THEME COLORS
    --light-bg-body: #ececec;
    --light-fg-body: #888888;
    --light-bg-test: #fcfcfc;
    --light-fg-text: #707070;
    --light-current-word-border: #dddddd;
    --light-blue-accent: #8ac1ff;
    --light-gray-blue-accent: #cee5ff;
    --light-gray-blue-shadow: #505f6e;
    --light-transparent-blue-overlay: rgba(0, 28, 58, 0.5);
    --light-green-bg-valid: #e8fbd5;
    --light-green-fg-valid: #0e630e;
    --light-pink-bg-typo: #fbd5e4;
    --light-red-fg-typo: #a10707;
    --light-pink-bg-typo-visible: #ff597d;

    //DARK THEME COLORS
    --dark-bg-body: #121e2c;
    --dark-fg-body: #8f8f8f;
    --dark-bg-test: #04111f;
    --dark-fg-text: #a0a0a0;
    --dark-current-word-border: #162536;
    --dark-blue-accent: #2565af;
    --dark-gray-blue-accent: #0d2641;
    --dark-gray-blue-shadow: #0a1e32;
    --dark-transparent-blue-overlay: rgba(11, 22, 34, 0.5);
    --dark-blue-bg-valid: #001a22;
    --dark-blue-fg-valid: #53c5e7;
    --dark-violet-bg-typo: #11002b;
    --dark-violet-fg-typo: #e09ae9;
    --dark-violet-bg-typo-visible: #5d3797;

    //LIGHT THEME
    --body-bg: var(--light-bg-body);
    --body-fg: var(--light-fg-body);
    --test-bg: var(--light-bg-test);
    --text-fg: var(--light-fg-text);
    --current-word-border: var(--light-current-word-border);
    --accent-blue: var(--light-blue-accent);
    --accent-gray-blue: var(--light-gray-blue-accent);
    --shadow: var(--light-gray-blue-shadow);
    --overlay: var(--light-transparent-blue-overlay);
    --valid-bg: var(--light-green-bg-valid);
    --valid-fg: var(--light-green-fg-valid);
    --typo-bg: var(--light-pink-bg-typo);
    --typo-fg: var(--light-red-fg-typo);
    --typo-visible-bg: var(--light-pink-bg-typo-visible);
    --typo-visible-fg: var(--light-bg-test);
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: var(--dark-bg-body);
        --body-fg: var(--dark-fg-body);
        --test-bg: var(--dark-bg-test);
        --text-fg: var(--dark-fg-text);
        --current-word-border: var(--dark-current-word-border);
        --accent-blue: var(--dark-blue-accent);
        --accent-gray-blue: var(--dark-gray-blue-accent);
        --shadow: var(--dark-gray-blue-shadow);
        --overlay: var(--dark-transparent-blue-overlay);
        --valid-bg: var(--dark-blue-bg-valid);
        --valid-fg: var(--dark-blue-fg-valid);
        --typo-bg: var(--dark-violet-bg-typo);
        --typo-fg: var(--dark-violet-fg-typo);
        --typo-visible-bg: var(--dark-violet-bg-typo-visible);
        --typo-visible-fg: var(--dark-bg-test);
    }
}

body.light-theme {
    --body-bg: var(--light-bg-body);
    --body-fg: var(--light-fg-body);
    --test-bg: var(--light-bg-test);
    --text-fg: var(--light-fg-text);
    --current-word-border: var(--light-current-word-border);
    --accent-blue: var(--light-blue-accent);
    --accent-gray-blue: var(--light-gray-blue-accent);
    --shadow: var(--light-gray-blue-shadow);
    --overlay: var(--light-transparent-blue-overlay);
    --valid-bg: var(--light-green-bg-valid);
    --valid-fg: var(--light-green-fg-valid);
    --typo-bg: var(--light-pink-bg-typo);
    --typo-fg: var(--light-red-fg-typo);
    --typo-visible-bg: var(--light-pink-bg-typo-visible);
    --typo-visible-fg: var(--light-bg-test);
}

body.dark-theme {
    --body-bg: var(--dark-bg-body);
    --body-fg: var(--dark-fg-body);
    --test-bg: var(--dark-bg-test);
    --text-fg: var(--dark-fg-text);
    --current-word-border: var(--dark-current-word-border);
    --accent-blue: var(--dark-blue-accent);
    --accent-gray-blue: var(--dark-gray-blue-accent);
    --shadow: var(--dark-gray-blue-shadow);
    --overlay: var(--dark-transparent-blue-overlay);
    --valid-bg: var(--dark-blue-bg-valid);
    --valid-fg: var(--dark-blue-fg-valid);
    --typo-bg: var(--dark-violet-bg-typo);
    --typo-fg: var(--dark-violet-fg-typo);
    --typo-visible-bg: var(--dark-violet-bg-typo-visible);
    --typo-visible-fg: var(--dark-bg-test);
}
